@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body,html{width:100%; height:100%}

body {
  color: #5a5a5a;
  font-family: 'Poppins', sans-serif;
}
.btn{
  font-family: 'Poppins', sans-serif;
}
a, a:hover, .btn{outline:none!important;}
.no-padding{
	padding-left:0; padding-right:0;
}
section{padding:75px 0 100px;}
.btn{border-radius:30px;}
.btn-transparent{border:2px solid #fff; color:#fff;}
.btn-transparent:hover{border:2px solid #fff; color:#78B6E5; background:#fff}
.btn-transparent-dark{border:1px solid #027B82; color:#027B82;}

h1,h2,h3,h4,h5{
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size:4.5vw;
}
h2{
  font-size:4vw;
}


 .loaders {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
 }
 .loaders .loader {
      box-sizing: border-box;
      display: flex;
      flex: 0 1 auto;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 25%;
      max-width: 25%;
      height: 200px;
      align-items: center;
      justify-content: center;
  }
  .loader{display: table;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1200;
  }

.loader-bg{
  background: #5fa8e3;
}

.loader-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}



/*-------------- Top Header --------------*/  
.top-bar {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 18px 0;
    position:absolute;
	  top:0;
    width: 100%;
	 z-index:2;
   transition: 0.5s ease-out;
   -webkit-transition: 0.5s ease-out;
}
.affix {
    animation: 1s ease 0s normal both 1 running slideInDown;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(88, 88, 88, 0.19);
    padding: 0.75em 0;
    position: fixed;
    z-index: 1000;
    transition: 0.5s ease-in;
   -webkit-transition: 0.5s ease-in;
}
.affix.top-bar .navbar-nav li a {
  color: #60A8E3;
}
.affix.top-bar .navbar-nav li a:hover, .affix.top-bar .navbar-nav li a:focus {
  color: #468eb3;
}
.affix.top-bar a.navbar-brand{
 color: #60A8E3; 
}
.top-bar .navbar-nav li a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.top-bar .navbar-nav > .active > a, .top-bar .navbar-nav > .active > a:focus, .top-bar .navbar-nav > .active > a:hover, .top-bar .navbar-nav li a:hover, .top-bar .navbar-nav li a:focus{
  background:none;
  color: #1a638b;
}
.top-bar a.navbar-brand {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}
.color-bg-nav{
  background:#1f2d3c;
  margin-top:0;
  padding:5px 0
}
.affix{}

/*-------------- Cover Banner --------------*/  


.cover{
	  background-image: url("/img/cover.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
   /* background: -webkit-linear-gradient(to top, #97c7e7, #5fa8e3);
    background: linear-gradient(to top, #97c7e7, #5fa8e3);*/
    min-height:100vh;
    float: left;
    width: 100%;
    padding: 10% 0 50px;
    color: #fff;
    position: relative;
}
.cover:before{
  content:" ";
  background: linear-gradient(to left, #fff0,#dedede99);
  width: 100%;
  height:278px;
  position: absolute;
  left: 0;
  bottom:-135px;
  -ms-transform: skew(0deg,-12deg); /* IE 9 */
  -webkit-transform: skew(0deg,-12deg); /* Safari */
  transform: skew(0deg,-12deg); /* Standard syntax */

}
.cover .text-block{
  margin-top: 120px;
}
.cover h1{
  font-weight: 300;
  font-size: 42px
}
.cover p{
  font-size: 17px;
  line-height: 29px;
  margin: 11px 0 21px;
}
.cover .action-bar{
  float: left;
  width: 100%
}
.cover .action-bar .btn i{
  float: left;
  font-size: 27px;
  margin-right: 10px;
}
.cover .action-bar .btn{
  font-weight: 600;
  line-height: 27px;
  margin-right: 10px;
  padding: 10px 20px;
}


/*------------- Services ------------*/

.services-sec{
  float:left;
  width:100%;
}
.services-sec h2 {
  color: #60A8E3;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 70px;
  position: relative;
}
.services-sec small {
  color: #5c5c5c;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  display: block;
}
.services-sec h2:before{
  background:#60A8E3;
  border-radius: 4px;
    bottom: -16px;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
}
.services-sec .service-block{
  padding: 30px 15px;
  border-radius: 20px
}
.services-sec .service-block i {
  font-size: 35px;
  padding: 10px 20px 20px;
  color: #60A8E3
}
.services-sec .service-block h3 {
  font-size: 17px;
  font-weight: 600;
  color: #5c5c5c
}
.services-sec .service-block p {
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  margin: 20px 0;
  padding: 0 22px;
}
.services-sec .service-block:hover{
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
}
.services-sec .service-block .btn{
  padding:6px 30px;
}
.services-sec .btn-primary{
  background: #60A8E3;
  border: none;
}

/*--- Function Section ---*/
.function-sec {
  float:left;
  width:100%;
  background: #5fa8e3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #97c7e7, #5fa8e3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #97c7e7, #5fa8e3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
 }
.function-sec h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 50px;
  position: relative;
}
.function-sec small {color: #fff; display: block; line-height: 27px; font-weight:400; font-size: 15px;}
.function-sec::before {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    content: " ";
    height: 500px;
    left: 50%;
    opacity: 0.1;
    position: absolute;
    top: 54%;
    width: 500px;
    z-index: 0;
    animation-name: circlebox;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.function-sec::after {
    background: #fff;
    border-radius: 50%;
    content: " ";
    height: 400px;
    left: 50%;
    opacity: 0.1;
    position: absolute;
    top: 54%;
    width: 400px;
    z-index: 1;
    margin-left: -200px;
    margin-top: -200px;
}
@keyframes circlebox {
    0% {width: 250px; height: 250px; margin-left: -125px; margin-top: -125px;}
    25% {width: 500px; height: 500px; margin-left: -250px; margin-top: -250px;}
    50% {width: 250px; height: 250px; margin-left: -125px; margin-top: -125px;}
    75% {width: 500px; height: 500px; margin-left: -250px; margin-top: -250px;}
    100% {width: 250px; height: 250px; margin-left: -125px; margin-top: -125px;}
}
.function-sec .img-block {
    margin: 0 auto;
    width: 85%;
    position: relative;
    z-index: 2;
}
.function-sec .content-sec {margin-top: 100px;}
.function-sec .function-block{float: left; width: 100%; margin-bottom: 60px}
.function-sec .function-block .text-block{float: left; width: 70%;}
.function-sec h3 {color: #fff; font-size: 18px; font-weight: 600; margin-bottom: 5px;}
.function-sec .function-block p{color: #fff; font-size: 14px;font-weight: 300; line-height: 18px;}
.function-sec .function-block i{
  background: #fff;
  border-radius: 50%;
  color: #73b3e4;
  font-size: 40px;
  margin-top: 20px;
  padding: 17px;
}
.function-block .icon-block{float: left; width: 30%}


/*--- Feature Section ---*/
.feature-sec{float:left; width:100%;}
.feature-sec h2 {
  color: #60A8E3;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 70px;
  position: relative;
}
.feature-sec small {
  color: #5c5c5c;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  display: block;
}
.feature-sec h2:before{
  background:#60A8E3;
  border-radius: 4px;
    bottom: -16px;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
}
.feature-sec small {color: #050D20; display: block; line-height: 27px; font-weight:400; font-size: 15px;}
.feature-sec .feature-block{margin-bottom: 60px}
.feature-sec .feature-block:last-child {margin-bottom: 0;}
.feature-sec .text-block{padding: 20% 0}
.feature-sec h3 {color: #5f5f5f; font-size: 21px; font-weight: 600; line-height: 31px;}
.feature-sec p {font-size: 15px; font-weight: 400; line-height: 21px;}
.feature-sec img {border-radius: 6px;}
.feature-sec .btn{margin-top: 10px;}

/*Stat Section*/
.stat-section{
    padding: 0;
    float: left;
    width:100%;
}
.stat-section .container{
  color: #fff;
  border-radius: 10px;
}
.stat-section .stat-outer{
  background: #5fa8e3;
  background: -webkit-linear-gradient(to left, #97c7e7, #5fa8e3);
  background: linear-gradient(to left, #97c7e7, #5fa8e3);
}
.stat-section .stat-outer:first-child{
  border-radius: 7px 0 0 7px;
}
.stat-section .stat-outer:last-child{
  border-radius: 0 7px 7px 0;
}
.stat-section i {
    float: left;
    font-size: 50px;
    margin-top: 17px;
}
.stat-section .stat-content{
    float: right;
}
.stat-section span{
    font-size: 38px;
    font-weight: 600;
}
.stat-section .stat-box {
    float: left;
    padding: 8px 40px;
    width: 100%;
}
.stat-section h4{
    margin-top: 0;
}

/*--App Screens--*/
.app-screen-sec{float: left; width: 100%;}
.app-screen-sec h2 {
  color: #60A8E3;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 70px;
  position: relative;
}
.app-screen-sec small {
  color: #5c5c5c;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  display: block;
}
.app-screen-sec h2:before{
  background:#60A8E3;
  border-radius: 4px;
    bottom: -16px;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
}
.app-screen-sec .swiper-container {
  width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
.app-screen-sec .swiper-slide {
        background-position: center;
        background-size: cover;
        height: 538px;
    width: 300px;
    }

/*--- Contact Section ---*/
.contact-sec{float: left; width: 100%;background:url(../img/bg-03.jpg) no-repeat; background-size: cover; position: relative}
.contact-sec::before{content:""; background:rgba(0,0,0,0.8); width: 100%; position: absolute; height: 100%; top: 0; left: 0; z-index: 0}
.contact-sec h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 50px;
  position: relative;
}
.contact-sec h2:before{
  background:#fff;
  border-radius: 4px;
    bottom: -16px;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
}
.contact-sec small {color: #fff; display: block; line-height: 27px; font-weight:400; font-size: 15px;}
.contact-sec .form-sec{position: relative; z-index: 1}
.contact-sec textarea{margin: 30px 0; border-radius: 10px;}
.contact-sec input{ border-radius: 30px; padding-left: 20px}
.contact-sec .form-control{min-height: 42px; line-height: 42px; margin-bottom: 15px; border: none;}
.contact-sec .form-control::-webkit-input-placeholder {color: #0F2952;}
.contact-sec .form-control:-moz-placeholder { /* Firefox 18- */ color: #0F2952;}
.contact-sec .form-control::-moz-placeholder {  /* Firefox 19+ */color: #0F2952;}
.contact-sec .form-control:-ms-input-placeholder {color: #0F2952;}
.contact-sec .btn{margin-top: 30px;}

footer{
  background: #5fa8e3;
  background: -webkit-linear-gradient(to left, #97c7e7, #5fa8e3);
  background: linear-gradient(to left, #97c7e7, #5fa8e3);
  float: left;
  width: 100%;
  color:#fff;
  padding: 15px 0
}



*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}

.top-bar.navbar-default .navbar-toggle .icon-bar {
    background: #484848cc;
}



@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
  .top-bar .navbar-nav li a{
    font-weight: 500;
  }
  .function-sec .function-block i{
    padding: 10px;
    font-size: 27px;
  }
  .function-sec .content-sec{
    margin-top:0;
  }
  .function-sec .function-block:last-child{
    margin-bottom:0;
  }
  .stat-section .stat-content{
    text-align: center;
  }
  .stat-section h4 {
    font-size: 19px;
}
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


@media (max-width: 768px){
    
    .cover{text-align: center}
    .cover .action-bar{margin-bottom: 40px;}
    .cover img {margin: 0 auto;}
    
}

@media (max-width: 767px){
    
    .top-bar .navbar-collapse{background: #050D20}
    
}




